# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment
.env

# Database
*.db
*.db-journal
*.sqlite3

# Virtual environment
.venv/

# Data
enterprise-knowledge-agent/data/*
!enterprise-knowledge-agent/data/.gitkeep
